<style>
body {
  background-image: url('img_girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
#frm{
	border: solid gray 1px;
	width: 20%;
	border-radius: 5px;
	margin: 250px auto;
	padding: 100px;
	
}
#btn{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 35%;
}
#btn1{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 15%;
}
